:root{
  --sidebar_margin_open:175px;
  --sidebar_margin_closed:50px;
}

html{
  background-color: #c0f0cd;
  font-family:  "Arial", serif;
}

.sidebar_menu{
  height: 100%;
  width:var(--sidebar_margin_open);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #8bb396;
  border: 2px grey;
}

.sidebar_toggle_button{
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #8bb396;
  border: 2px #09cf02;
}

.sidebar_link_list {
  list-style-type: none;
  padding-inline-start: 0 !important;
}

.sidebar_link {
  text-align: center;
  width: 100%;
  text-decoration: none;
  -o-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;

  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar_link > a{
  display: block;
  color: black;
}

.sidebar_logo_container{
  position: absolute;
  bottom: 0;
}

.sidebar_logo_image{
  width:100%;

  border-radius: 50%;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition:         transform .4s ease-in-out;
}

.sidebar_logo_image:hover{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

li:hover{
  background-color: lightblue;
}

.main_content{
  margin-left:var(--sidebar_margin_open);
}

.entity_list_table{
  background-color: #f7f8f2;
  margin: 10px;
}

.creation_form_container{
  margin: 5px;
  width: 75%;
  text-align: center;
}

.creation_form_table{
  display: inline-block;
}

.creation_form_table > tbody > tr{
  border-bottom: 1px black;
=}

.creation_form_table > tbody > tr > td {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
//TODO: Center the dialog with a dynamic sizing
.dialog{
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: rgb(255,255,255);
}