:root{
  --sidebar_margin_open:175px;
  --sidebar_margin_closed:50px;
}

html{
  background-color: #c0f0cd;
  font-family:  "Arial", serif;
}

li:hover{
  background-color: lightblue;
}

.main_content{
  margin-left:var(--sidebar_margin_open);
}

.entity_list_table{
  background-color: #f7f8f2;
  margin: 10px;
}

.creation_form_container{
  margin: 5px;
  width: 75%;
  text-align: center;
}

.creation_form_table{
  display: inline-block;
}

.creation_form_table > tbody > tr{
  border-bottom: 1px black;
}

.creation_form_table > tbody > tr > td {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
